# Build folder
/bin/
/bin-int/

# Git folder
.git/

# Visual Studio files and directories
.vs/
*.sln
*.vxproj
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
/OpenGL Mandelbrot and Julia Fractals/bin-int/Debug
/OpenGL Mandelbrot and Julia Fractals/bin/Debug
